.footer-content {
  display: flex;
  align-items: baseline;
}

.logo-address {
  margin-right: 70px;
}

.footer-title {
  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
